<p>Hey,</p>
<p>We have registered you as an user.</p>
<p>Please click below to access your portal</p>
<p>
    <a href="{{ url }}">Click</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
